.layui-icon {
    font-size: 16px;
    padding: 0 6px;
}

.userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
}

.text-avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: #009688;
    border-radius: 50%;
    margin-right: 10px;
}