.layui-icon {
    font-size: 16px;
    padding: 0 8px 0 0px;
}
dl .layui-icon {
    padding-left: 20px;
}

.userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    user-select: none;
}

.text-avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: #009688;
    border-radius: 50%;
    margin-right: 10px;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

.layui-side-scroll .userinfo{
    border-bottom: 2px solid #282b33;
}

.text-avatar {
    text-align: center;
}

.layui-nav-img {
    width: 40px;
    height:40px;
}